*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(244, 193, 210);
}
h1{
    margin: 30px;
    color: azure;
    font-family: "Bungee Shade", sans-serif;
    font-size: 48px;
    text-align: center;
}
.nav1{
    text-align: center;
    
}

.div{
    text-decoration: none;
    display: inline;
    margin: 5px;
    
    

}
.di{
    background-color: azure;
    color: rgb(221, 67, 149);
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid rgb(221, 67, 149);
    padding: 10px; 
}

p{
    margin-top: 200px;
    margin-bottom: 500px;
    font-size: 48px;
    text-align: center;
    color: azure;
    font-family:"Rampart One", sans-serif; 
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    color: azure;
    text-align: center;
    text-decoration: underline;

}

img{
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right:40px;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 10px rgb(221, 67, 149);
}

img:hover{
    width: 450px;
    height: 450px;
    background-color: grey;

}

.fotolar{
    text-align: center;
}

.contact{
    text-align: center;
    
}
.par{
    display: inline;
    font-size: 20px;
    margin: 10px;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}
.fa-brands{
    
    color: azure;
    margin: 40px;
    cursor: pointer;
    
}

.fa-brands:hover,.par:hover{
    color: black;
}